.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.post-form {
  padding: 30px;
  background: #ececec;
}

.ant-form-item-control-input {
  width: 300px;
}

.site-card-border-less-wrapper .ant-comment-inner {
  padding: 0px;
}
